img {
  max-width: 350px;
  height: auto;
  border: 8px solid pink
}
h1 {
  color:salmon
}
h2 {
  color: paleturquoise
}
p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
